<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito&amp;subset=vietnamese" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"   media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"  media="screen,projection"/>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url=/new_bike" />
    <title>Bike Rental</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="grey lighten-3">

<div class="card-panel" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); min-width: 25vw">
	<div class="center-align">
		<h2 style="height: 54px; width: auto;">Bike Rental</h2>
	</div>
	<div>
            <div class="admin-small-container center-align">
                    <h4>Order has been submitted!</h4>
            </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>


</body>
</html>