<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About me</title>
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <style>
    body{
        background-color: lemonchiffon;
    }
    .heading {
        color: red;
        text-align: center;
        vertical-align: middle;
        font-family: 'Staatliches', cursive   
    }
    .info {
        text-align: center;
        vertical-align: middle;
    }
    </style>
</head>
<body>
<h1 class="heading">Welcome to my profile</h1>
<p class="heading">This is infomation about me:</p>
<div class="info">
        <p><font size="6%" color="#767676">Name: </font>{{aboutme["name"]}}</p>
        <p><font size="6%" color="#767676">Work: </font>{{aboutme["work"]}}</p>
        <p><font size="6%" color="#767676">School: </font>{{aboutme["school"]}}</p>
        <p><font size="6%" color="#767676">Hobbies: </font>{{aboutme["hobbies"]}}</p>
</div> 
</body>
</html>