<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Characters</title>
</head>
<body>
    <div>
        <h3>{{character.name}}</h3> <br>
        <img src="{{character.image}}" alt="image" width="20%" height="20%"> <br>
        <h3><font color='red'>Rate: </font>{{character.rate}}</h3>
    </div>
    <button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
</body>
</html>