<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div id="root">
        <form action="" method="POST">
            <div class="mb_2">
                <label for="" class="form_label">Username</label>
                <input type="text" name="username" required>
               
            </div>
            <div class="mb_2">
                <label for="" class="form_label">Password</label>
                <input type="password" name="password" id="" required>
            </div>
            <button>Login</button>
        </form>
    </div>
    
</body>
</html>